node_modules
# Keep environment variables out of version control
.env
timescale_data
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
web/src/generated/prisma/runtime/library.d.ts
web/src/generated/prisma/runtime/index-browser.d.ts
web/src/generated/prisma/package.json
web/src/generated/prisma/index.js
web/src/generated/prisma/edge.js
.DS_Store
.DS_Store
.DS_Store
*.pyc
